services:
  app:
    container_name: app
    build:
      context: .
      dockerfile: build/Dockerfile
    env_file:
      - test.env
    ports:
      - 5101:5101
    command:
      - "app"
    depends_on:
      postgres:
        condition: service_healthy

  postgres:
    container_name: postgres
    env_file:
      - test.env
    image: postgres:15.2
    environment:
      POSTGRES_PASSWORD: masterkey
      POSTGRES_USER: sysdba
      POSTGRES_DB: app_django
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $${POSTGRES_USER}" ]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - postgres_data:/var/lib/postgresql/data


volumes:
  postgres_data: